{
  "extends": [
    "@nuxt/eslint-config",
    "plugin:prettier/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "plugins": [
    "tailwindcss"
  ],
  "rules": {
    "prettier/prettier": "off"
  }
}
